/* Hamburger Style */
.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1.5rem;
  color: #000;
  z-index: 20;
}

/* Slider Style */
nav.userContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 20%;
  height: 100vh;
  background-color: var(--slider-header-background);
  transform: translate(-100%);
  transition: transform 3s ease-in-out;
  z-index: 15;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

nav.open {
  transform: translate(0%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

ul.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: 1.5rem;
  margin-top: 6rem;
}

li.menu-item ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--primary-text-color);
  transition: width 0.3s ease;
}

li.menu-item:hover ::after {
  width: 100%;
}

.menuItem {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: var(--primary-text-color);
}

li.menu-item.login {
  margin-top: auto;
}
